/*added*/
.ptb--100 {
  padding: 94px 0;
}

input[type="text"]:hover {
  border: 1px solid yellowgreen;
}
#msg-area:hover {
  border: 1px solid yellowgreen;
}

/* -- general -- */

body {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

a {
  color: green;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
p {
  padding: 20px;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  opacity: 0.8;
  color: #ff8533;
}

.main-color {
  color: #ff8533;
}

.white-text {
  color: #fff;
}

::-moz-selection {
  background-color: #ff8533;
  color: #fff;
}

::selection {
  background-color: #ff8533;
  color: #fff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -- section  -- */

.section {
  position: relative;
  border-bottom: 1px double grey;
}

.md-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sm-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* --  background section  -- */

.bg-grey {
  background-color: #fafafa;
  border-top: 1px solid #eee;
}

.bg-dark {
  background-color: #1c1d21;
}

/* --  background image section  -- */

.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background: #000 url("img/pattarn.png") repeat scroll 0 0;
}

.bg-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background: #1c1d21;
}

/* --  section header  -- */

.section-header {
  position: relative;
  margin-bottom: 60px;
}

.section-header .title {
  text-transform: capitalize;
}

.title:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: #ff8533;
  margin-top: 20px;
}

.text-center .title:after {
  margin: 20px auto 0px;
}

/*------------------------------------*\
	Logo
\*------------------------------------*/

.navbar-brand {
  padding: 0;
}

.navbar-brand .logo,
.navbar-brand .logo-alt {
  max-height: 80px;
  display: block;
}

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
  display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
  display: none;
}

#nav.fixed-nav .navbar-brand .logo-alt {
  display: none;
}

@media only screen and (max-width: 767px) {
  #nav.nav-transparent .navbar-brand .logo-alt {
    display: none !important;
  }
  #nav.nav-transparent .navbar-brand .logo {
    display: block !important;
  }
}

/*------------------------------------*\
	Navigation
\*------------------------------------*/

#nav {
  padding: 10px 0px;
  background: #fff;
  -webkit-transition: 0.2s padding;
  transition: 0.2s padding;
  z-index: 999;
}

#nav.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
}

#nav.fixed-nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0px 0px;
  background-color: #fff !important;
  border-bottom: 1px solid #eee;
}

#nav.nav-transparent {
  background: transparent;
}

/* -- default nav -- */

@media only screen and (min-width: 768px) {
  .main-nav li {
    padding: 0px 15px;
  }
  .main-nav li a {
    font-size: 14px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }
  .main-nav > li > a {
    color: #10161a;
    padding: 15px 0px;
  }
  #nav.nav-transparent:not(.fixed-nav) .main-nav > li > a {
    color: #fff;
  }
  .main-nav > li > a:hover,
  .main-nav > li > a:focus,
  .main-nav > li.active > a {
    background: transparent;
    color: #ff8533;
  }
  .main-nav > li > a:after {
    content: "";
    display: block;
    background-color: #ff8533;
    height: 2px;
    width: 0%;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
  }
  .main-nav > li > a:hover:after,
  .main-nav > li.active > a:after {
    width: 100%;
  }
  /* dropdown */
  .has-dropdown {
    position: relative;
  }
  .has-dropdown > a:before {
    font-family: "FontAwesome";
    content: "\f054";
    font-size: 6px;
    margin-left: 6px;
    float: right;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: 0.2s transform;
    transition: 0.2s transform;
  }
  .dropdown {
    position: absolute;
    right: -50%;
    top: 0;
    background-color: #ff8533;
    width: 200px;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
    box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
    -webkit-transform: translateY(15px) translateX(50%);
    -ms-transform: translateY(15px) translateX(50%);
    transform: translateY(15px) translateX(50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .main-nav > .has-dropdown > .dropdown {
    top: 100%;
    right: 50%;
  }
  .main-nav > .has-dropdown > .dropdown .dropdown.dropdown-left {
    right: 150%;
  }
  .dropdown li a {
    display: block;
    color: #fff;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    padding: 10px 0px;
  }
  .dropdown li:nth-child(1) a {
    border-top: none;
  }
  .has-dropdown:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px) translateX(50%);
    -ms-transform: translateY(0px) translateX(50%);
    transform: translateY(0px) translateX(50%);
  }
  .has-dropdown:hover > a:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .nav-collapse {
    display: none;
  }

  #testimonials .owl-prev {
    right: 8%;
    top: -30%;
  }
  #testimonials .owl-next {
    right: 2%;
    top: -30%;
  }
}

/* -- mobile nav -- */

@media only screen and (max-width: 767px) {
  #nav {
    padding: 0px 0px;
  }
  #nav.nav-transparent {
    background: #fff;
  }
  .main-nav {
    position: fixed;
    right: 0;
    height: calc(100vh - 80px);
    -webkit-box-shadow: 0px 80px 0px 0px #1c1d21;
    box-shadow: 0px 80px 0px 0px #1c1d21;
    max-width: 250px;
    width: 0%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    margin: 0;
    overflow-y: auto;
    background: #1c1d21;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  #nav.open .main-nav {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 100%;
  }
  .main-nav li {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
  }
  .main-nav li a {
    display: block;
    color: #fff;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .main-nav > li.active {
    border-left: 6px solid #6195ff;
  }
  .main-nav li a:hover,
  .main-nav li a:focus {
    background-color: #ff8533;
    color: #fff;
    opacity: 1;
  }
  .has-dropdown > a:after {
    content: "\f054";
    font-family: "FontAwesome";
    float: right;
    -webkit-transition: 0.2s -webkit-transform;
    transition: 0.2s -webkit-transform;
    transition: 0.2s transform;
    transition: 0.2s transform, 0.2s -webkit-transform;
  }
  .dropdown {
    opacity: 0;
    visibility: hidden;
    height: 0;
    background: rgba(250, 250, 250, 0.1);
  }
  .dropdown li a {
    padding: 6px 10px;
  }
  .has-dropdown.open-drop > a:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .has-dropdown.open-drop > .dropdown {
    opacity: 1;
    visibility: visible;
    height: auto;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  #testimonials {
    padding-bottom: 0;
  }
  #testimonials .owl-next,
  #testimonials .owl-prev {
    display: none;
  }
  p {
    font-size: 18px;
  }
}

/* -- nav btn collapse -- */

.nav-collapse {
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  z-index: 99999;
}

.nav-collapse span {
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
}

.nav-collapse span:before,
.nav-collapse span:after {
  content: "";
  display: block;
}

.nav-collapse span,
.nav-collapse span:before,
.nav-collapse span:after {
  height: 4px;
  background: #10161a;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav-collapse span:before {
  -webkit-transform: translate(0%, 10px);
  -ms-transform: translate(0%, 10px);
  transform: translate(0%, 10px);
}

.nav-collapse span:after {
  -webkit-transform: translate(0%, -14px);
  -ms-transform: translate(0%, -14px);
  transform: translate(0%, -14px);
}

#nav.open .nav-collapse span {
  background: transparent;
}

#nav.open .nav-collapse span:before {
  -webkit-transform: translateY(0px) rotate(-135deg);
  -ms-transform: translateY(0px) rotate(-135deg);
  transform: translateY(0px) rotate(-135deg);
}

#nav.open .nav-collapse span:after {
  -webkit-transform: translateY(-4px) rotate(135deg);
  -ms-transform: translateY(-4px) rotate(135deg);
  transform: translateY(-4px) rotate(135deg);
}

/*------------------------------------*\
	Header
\*------------------------------------*/

header {
  position: relative;
}

#home {
  height: 100vh;
}

#home .home-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.home-content h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
}
.home-content button {
  margin-top: 20px;
}

.header-wrapper h2 {
  display: inline-block;
  margin-bottom: 0px;
}

/*------------------------------------*\
	work
\*------------------------------------*/

.work {
  position: relative;
  padding: 20px;
}

.work > img {
  width: 100%;
}

.work .section {
  background: black;
}

.work .overlay {
  background: rgb(255, 163, 102); /*rgb(114, 150, 105);*/
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.work:hover .overlay {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0.8;
}

.work .work-content {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.work .work-content h3 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.work:hover .work-content h3 {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.work .work-content span {
  display: block;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  color: black;
  margin-bottom: 5px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.work:hover .work-content span {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/*------------------------------------*\
	Services
\*------------------------------------*/

.service {
  position: relative;
  padding: 40px 20px 40px 25px;
  margin: 15px 0px;
  border: 1px solid #eee;
}

.service i {
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
  font-size: 32px;
  border-radius: 50%;
}

.service:after {
  content: "";
  background-color: #ff8533;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  z-index: -1;
  -webkit-transition: 0.2s width;
  transition: 0.2s width;
}

.service:hover:after {
  width: 100%;
}

.service h3 {
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.service:hover h3 {
  color: #fff;
}

.service:hover i {
  color: white;
}
/*testimonials*/

#testimonial4 {
  overflow: hidden;
  min-height: 415px;
  position: relative;
  background: #63009e;
  background: url("../img/testimonial_bg.jpg");
  background-size: cover;
}
#testimonial4 .carousel-inner {
  width: 75%;
  margin: auto;
}
#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #ff8533;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}
.testimonial4_control_button .carousel-control.left {
  left: 7%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right {
  right: 7%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.testimonial4_slide p {
  color: #ffffff;
  font-size: 16px;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .testimonial4_control_button .carousel-control {
    display: none; /* for prevent dispaly neviagrion button */
  }
  .testimonial4_header {
    width: 95%;
  }
  .testimonial4_header h4 {
    font-size: 20px;
  }
  .testimonial4_slide {
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .testimonial4_control_button .carousel-control.left {
    left: 2%;
  }
  .testimonial4_control_button .carousel-control.right {
    right: 2%;
  }
  .testimonial4_header {
    width: 95%;
  }
  .testimonial4_slide {
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial4_control_button .carousel-control.left {
    left: 5%;
  }
  .testimonial4_control_button .carousel-control.right {
    right: 5%;
  }
}

@-webkit-keyframes psBoxShadowEffect_2 {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
      0 0 10px 10px #ffffff, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #ffffff,
      0 0 0 5px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes psBoxShadowEffect_2 {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #ffffff,
      0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #ffffff,
      0 0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .testimonial4_indicators .carousel-indicators li {
    margin-top: 10px;
  }
}

/*---------trail team---------

.team-member{
    margin:0 8px;
    padding: 20px 15px;
}
.team-member-info{
    padding: 10px 0px 30px 0px;
}
h4.team-member-name{
    font-size:19px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}
h3.team-area-designation{
    color: #ff8533;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: capitalize;
}*/
/*.social-list{
    padding-left: 0;
}

.social-list li{
    list-style: none;
    display: inline-block;
    width:32px;
    height:32px;
    margin-right: 6px;
    margin-top: 10px;
}



border-radius: 50%;
width: 80%;
margin: 0px auto;






.social-list i{
    font-size: 17px;
}

.pic-pos img{
    border-radius: 50%;
    width: 80%;
    margin: 0px auto;
}*/

/*------------Team-------------*/

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 35px;
  font-weight: 500;
  color: #232323;
  letter-spacing: 0;
  line-height: 37px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section-title.text-white h2 {
  color: #fff;
}

.section-title h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 130px;
  background-color: #ff8533;
  left: calc(50% - 65px);
}

.section-title.text-white h2:before {
  background-color: #fff;
}

.section-title h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 8px;
  width: 8px;
  left: calc(50% - 4px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section-title.text-white h2:after {
  background-color: #fff;
}

.section-title p {
  font-size: 20px;
  font-weight: 500;
  color: #666666;
}
.section-title.text-white p {
  color: #fff;
}

.col-6 {
  padding-top: 20px;
}

.single-team {
  text-align: center;
  overflow: hidden;
  border-radius: 3px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-team:hover {
  box-shadow: 0px 3px 5px rgb(255, 179, 128, 0.5);
}
.team-thumb {
  margin: 40px 0px;
}
.team-thumb img {
  max-width: 160px;
  border-radius: 50%;
}
.single-team h4 {
  font-size: 20px;
  font-weight: 500;
  color: #232323;
  letter-spacing: 0;
  margin-bottom: 8px;
}
.single-team span {
  display: block;
  color: #666;
  font-weight: 400;
  letter-spacing: 0;
}
.single-team ul {
  margin-top: 40px;
}

.tst-social li {
  display: inline-block;
}

.tst-social li a {
  font-size: 20px;
  color: #555;
  margin: 0px 5px;
}
.tst-social li a:hover {
  color: #ff8533;
}

/*------------Contact--------------*/

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 15px;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  color: #222;
}
.contact-form textarea {
  min-height: 165px;
}
.contact-form #send {
  height: 45px;
  width: 150px;
  background: #ff8533;
  color: #fff;
  text-align: center;
  line-height: 45px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact-form #send:hover {
  background-color: #444;
}
.contact_info {
  padding-left: 40px;
}
.contact_info .s-info {
  margin-bottom: 14px;
}
.s-info i {
  font-size: 27px;
  color: #ff8533;
  float: left;
  margin-right: 14px;
  margin-top: 6px;
}
.s-info .meta-content {
  overflow: hidden;
}
.s-info .meta-content span {
  font-size: 15px;
  color: white;
  font-weight: 400;
  display: block;
}
.c-social {
  margin-top: 25px;
}

.c-social ul li {
  display: inline-block;
}
.c-social ul li a {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ff8533;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin-right: 6px;
}

.c-social ul li a:hover {
  background-color: #444;
}

/*---------Footer-----------*/

.footer-copyright p {
  text-align: center;
  font-size: 14px;

  margin: 0;
}

/*------------------------------------*\
	Responsive
\*------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 980px) and (max-width: 1150px) {
}

@media only screen and (max-width: 767px) {
  .section-header h2.title {
    font-size: 31.5px;
  }

  .main-btn,
  .default-btn,
  .outline-btn,
  .white-btn {
    padding: 8px 22px;
    font-size: 14px;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .header-wrapper h2 {
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }

  .header-wrapper .breadcrumb {
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .contact-form .input:nth-child(1),
  .contact-form .input:nth-child(2) {
    width: 100%;
  }
  .contact-form .input:nth-child(2) {
    margin-left: 0px;
  }

  .reply-form form .input,
  .reply-form form .input {
    width: 100%;
  }
  .reply-form form .input:nth-child(2) {
    margin-left: 0px;
  }
  
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .footer-content {
    padding-top: 40px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .col-2 {
    float: left;
    width: 50%;
  }
  .counter-item {
    margin-bottom: 30px;
  }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .crumbs-header .cd-headline span {
    font-size: 38px;
  }
  .counter-item {
    margin-bottom: 30px;
  }
  .footer-content h2 {
    font-size: 18px;
  }
}
